/*
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */

 /* iPad [portrait + landscape] */
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        font-size: 180%;
    }
 }

 /* iPhone [portrait + landscape] */
/* @media only screen and (max-device-width: 480px) {
    body {
        font-size: 100%;
    }
 }*/

/* Landscape layout (with min-width) */
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {}*/


body {
    font-family: sans-serif;
    margin:0; padding: 0;
}

input[type=text], input[type=password] {
    font-size: 100%;
}

input[type=text] {
    width: 75%;
}

h2 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.clear {
    clear:both;
}

.touch {
    background: #efe;
}

header {
    margin:0;
    padding:4px;
    background-image: -webkit-linear-gradient(left top, rgb(238,238,238) 40%, rgb(250,250,250) 75%, rgb(255,255,255) 100%);
}

article {
    padding: 4px;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 4px 0;
}

img.picture {
    width: 100%;
}

.mine {
    text-align: right;
}

li .details {
    font-size: 80%;
    padding:0 8px;
    color:#555;
}

form {
    border:#ddd solid 1px;
    background:#EEE;
    /*margin: 1em 32px;*/
    padding: 8px;
}

label {
    float:left;
    display: block;
    width:6em;
    margin-right: 4px;
    text-align: right;
}

label {
    font-weight: lighter;
    color:#888;
}

